@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

html {
  font-size: 81.25%;
}

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  color: var(--very-dark-magneta);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--light-grayish-blue);
}

.card-title{
  font-size: 1.5rem;
  color: var(--very-dark-grayish-blue);
  font-weight: 700;
}

.card-text{
  color: var(--desaturated-dark-blue);
}

.avatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
